<div class="page-header">
  <h1>Role #<%= @role.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Character name</dt>
  <dd><%= @role.character_name %></dd>

  <dt>Movie ID</dt>
  <dd><%= Movie.find(@role.movie_id).title %></dd>

  <dt>Actor ID</dt>
  <dd><%= Actor.find(@role.actor_id).name %></dd>

</dl>
